/*General Styles*/
html {
    font-size: 18px;
    font-family: "Open Sans", Arial, sans-serif;
}

body {
    min-height: 100vh;    /*the body tag by itself doesn't have any height and so the gradients won't show up*/
    background: rgb(0,0,0);
    background: -moz-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(118,50,63,1) 15%, rgba(215,206,199,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(118,50,63,1) 15%, rgba(215,206,199,1) 100%);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(118,50,63,1) 15%, rgba(215,206,199,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#d7cec7",GradientType=1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inconsolata", "Times New Roman", monospace;
}

/*Main Page Wrapper*/
.wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: space-between;
            align-items: space-between;
    -webkit-box-pack: center;
            justify-content: center;
    padding: 2rem; 
    position: absolute;  /*to center div!*/
    top:  45%;   /*to center div!*/
    left: 50%;  /*to center div!*/
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);  /*to center div!*/
}

.wrapper h1 {
    font-size: 2vw;
}

.wrapper a {
    text-decoration: none;
    color: black;
}

/*Projects Block*/
#blockOne {
    padding: 2rem 5rem 2rem 5rem;
    height: 12.5vw;
    width: 18.5vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    border: 5px solid black;
    border-radius: 1rem;
    margin: 1.5rem;
    text-align: center;
    background: url('https://images.freeimages.com/images/large-previews/f5c/workflow-1457844.jpg');
    background-size: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

#blockOne:hover {
    background-size: 150%;
    border-radius: 5%;
}

/*Certifications Block*/
#blockTwo {
    padding: 2rem 5rem 2rem 5rem;
    height: 12.5vw;
    width: 18.5vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    border: 5px solid black;
    border-radius: 1rem;
    margin: 1.5rem;
    text-align: center;
    background: url('https://images.freeimages.com/images/large-previews/11b/graduation-diploma-1240310.jpg');
    background-size: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

#blockTwo:hover {
    background-size: 150%;
    border-radius: 5%;
}

/*Software Block*/
#blockThree {
    padding: 2rem 5rem 2rem 5rem;
    height: 12.5vw;
    width: 18.5vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    border: 5px solid black;
    border-radius: 1rem;
    margin: 1.5rem;
    text-align: center;
    background: url('https://images.freeimages.com/images/large-previews/d58/cd-rom-cd-rw-hardware-software-computer-equipment-1471609.jpg');
    background-size: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

#blockThree:hover {
    background-size: 150%;
    border-radius: 5%;
}

/*Resume Block*/
#blockFour {
    padding: 2rem 5rem 2rem 5rem;
    height: 12.5vw;
    width: 18.5vw;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    border: 5px solid black;
    border-radius: 1rem;
    margin: 1.5rem;
    text-align: center;
    background: url('https://images.freeimages.com/images/small-previews/c7e/resume-2-1616792.jpg');
    background-size: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

#blockFour:hover {
    background-size: 150%;
    border-radius: 5%;
}

/*Footer*/
footer {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    position: absolute;   /*to center div!*/
    top:  65%; /*to center div!*/
    left: 50%; /*to center div!*/
    -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%); /*to center div!*/
} 

footer span {
    text-align: center;
}

/*START MEDIA QUERIES*/
/*1200px*/
@media only screen and (max-width: 1200px) {
    .wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;
        -webkit-box-align: center;
                align-items: center;
        margin-top: 15rem;
    }

    .wrapper h1 {
        font-size: 3vw;
    }

    #blockOne, #blockTwo, #blockThree, #blockFour {
        height: 18vw;
        width: 25vw;
    }

    footer {
        top:  175%;  /*to offset position: absolute*/
        margin-bottom: 3rem;
    }

}

/*850px*/
@media only screen and (max-width: 850px) {
    #blockOne, #blockTwo, #blockThree, #blockFour {
        height: 25vw;
        width: 32vw;
    }

}

/*675px*/
@media only screen and (max-width: 675px) {
    #blockOne, #blockTwo, #blockThree, #blockFour {
        height: 32vw;
        width: 39vw;
    }

}

/*550px*/
@media only screen and (max-width: 550px) {
    #blockOne, #blockTwo, #blockThree, #blockFour {
        height: 39vw;
        width: 46vw;
    }

}

/*375px*/
@media only screen and (max-width: 375px) {
    #blockOne, #blockTwo, #blockThree, #blockFour {
        height: 46vw;
        width: 53vw;
    }

}