.button {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    padding: 10px;
}

/*Data Science: Regression Analysis - GitHub Link*/
a.button.four:before, a.button.four:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid black;
    -webkit-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

a.button.four:before {
    bottom: 0;
    right: 50%;
}

a.button.four:after {
    bottom: 0;
    left: 50%;
}

a.button.four:hover:after, a.button.four:hover:before {
    width: 40%;
    -webkit-transition: width .2s ease;
    transition: width .2s ease;
}

/*Data Structures and Algorithms: Graph Algorithm - GitHub Link*/
a.button.nine {
    border: 2px solid #333;
}

a.button.nine:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    left: -2px;
    border: 2px solid black;
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a.button.nine:hover:after {
    opacity: 1;
    -webkit-animation: nine 0.3s forwards;
            animation: nine 0.3s forwards;
}

@-webkit-keyframes nine {
    0% {
        -webkit-transform: translate(-20px, 20px);
                transform: translate(-20px, 20px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

@keyframes nine {
    0% {
        -webkit-transform: translate(-20px, 20px);
                transform: translate(-20px, 20px);
    }
    100% {
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
    }
}

/*Agile Project Development - GitHub Link*/
a.button.two:before, a.button.two:after {
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    font-size: 20px;
}

a.button.two:before {
    content: '[';
}

a.button.two:after {
    content: ']';
}

a.button.two:hover:before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
    opacity: 1;
}

a.button.two:hover:after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
    opacity: 1;
}

/*Software Design & Patterns - GitHub Link*/
a.button.eleven {
    border: 2px solid black;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: translate(0px 10px);
            transform: translate(0px 10px);
}

a.button.eleven:hover {
    box-shadow: 0px 15px 10px -10px black;
    -webkit-transform: translate(0px 0px);
            transform: translate(0px 0px);
}

/*Web Development: www.johnbrickley.com - GitHub Link*/
a.button.seven:after {
    content: '';
    width: 100%;
    height: 85%;
    top: 0;
    left: 0;
    position: absolute;
    border-bottom: 2px solid black;
    opacity: 0;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

a.button.seven:hover:after {
    opacity: 1;
    height: 100%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}