/*Sections*/
.sectionWrapper h1 {
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 0.5rem;
}

.section {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  padding-top: 1.5rem;
  padding-bottom: 7.5rem;
}

.sectionText {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 1.5rem;
}

.sectionText h3 {
  padding-bottom: 1rem;
}

.courseLink {
  color: black;
}

.sectionText p {
  text-align: center;
  padding-bottom: 3rem;
  line-height: 2rem;
}

/*Embedded PDF's*/
.embeddedPDF {
  width: 50%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

#multiplePDF {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
          flex-direction: column-reverse;
}

/*Database Management*/
#multiplePDF object {
  padding: 3rem;
}


/*Agile Project Development*/
#agile p {
  padding: 0.5rem;
}

#adobe {
  padding-top: 2rem;
}


/*Web Development - johnbrickley.com*/
#john {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

#john img {
  max-width: 15%;   /*to keep image responsive*/
  max-height: 10%;   /*to keep image responsive*/
  padding-bottom: 1.5rem;
}

#john p {
  padding: 1.5rem;
  text-align: center;
}

/*HIDE MOBILE ELEMENTS*/
.mobilePDF {
  display: none;
}

/*START MEDIA QUERIES*/
/*1000px*/
@media only screen and (max-width: 1000px) {
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-direction: column-reverse;
  }

}

  /*480px*/
@media only screen and (max-width: 480px) {
  .sectionWrapper h1 {
    padding: 2rem;
  }

  .section a {
    text-align: center;
  }

  /*change PDF's to viewable link only*/
  .embeddedPDF {
    display: none;
  }

  #multiplePDF {
    display: none;
  }

  .mobilePDF {
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		        align-items: center;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
		padding: 3rem;
	}

	.mobilePDF a {
		text-align: center;
		text-decoration: none;
    color: black;
    padding: 1rem;  
	}

}