/*Resume Section Heading*/
#resumeHeading {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	padding: 2rem;
	text-align: center;
	font-family: "Open Sans", Arial, sans-serif;
	color:  #565656;
}

/*Resume*/
.embeddedResume {
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
	top: 10rem;
	padding-bottom: 3rem;
}

/*HIDE MOBILE ELEMENTS*/
.mobileResume {
	display: none;
}

/*START MEDIA QUERIES*/
/*480px*/
@media only screen and (max-width: 480px) {
	/*change PDFs to link view only*/
	.embeddedResume {
		display: none;
	}

	.mobileResume {
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		        justify-content: center;
		padding: 3rem;
	}

	.mobileResume a {
		text-align: center;
		text-decoration: none;
		color: black;
	}

	footer {
		display: none;
	}

}
